.header {
    overflow: hidden;
    background-color: #05386b;
    padding: 20px 10px;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    }
    
     .header a {
     float: left;
     color: white;
     text-align: center;
     padding: 12px;
     text-decoration: none;
     font-size: 18px;
     line-height: 25px;
     border-radius: 4px;
    
     }
    
     .header img {
     width: 80px;
     float: left;
     }
    
     .header a.logo {
     font-size: 25px;
     font-weight: bold;
     text-align: center;
     }
    
     .header a.active {
     background: #5CDB95;
     color: white;
     font-weight: bold;
     }
    
     .header-right {
     float: right;
     } 